<div class="card">
    <div class="card-body">
        <div class="row g-3">
            <div class="col-4">
                <div class="form-floating mb-2">
                    <input type="text" class="form-control" id="floatingName" placeholder="Vị trí">
                    <label for="floatingName">Vị trí</label>
                </div>
            </div>
            <div class="col-4">
                <div class="form-floating mb-2">
                    <input type="text" class="form-control" id="floatingName" placeholder="Price From">
                    <label for="floatingName">Price From</label>
                </div>
            </div>
            <div class="col-4">
                <div class="form-floating mb-2">
                    <input type="text" class="form-control" id="floatingName" placeholder="Price To">
                    <label for="floatingName">Price To</label>
                </div>
            </div>
            <div class="col-8">
                <div class="form-floating mb-2">
                    <input type="text" class="form-control" id="floatingName" placeholder="Tên khách sạn">
                    <label for="floatingName">Tên khách sạn</label>
                </div>
            </div>
            
           
            <div class="col-4 d-flex justify-content-center">
                <div class="form-floating mb-2">
                    <button class="btn btn-success mt-1 btn-lg">Tìm kiếm <i class="bi bi-search"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<section id="gallery" class="gallery">
    <div class="container-fluid">
        <div class="row gy-4 justify-content-center">
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div >
                    <app-card-room></app-card-room>
                </div>
            </div>
        </div>
    </div>
</section>