<div>
    <div class="gallery-item h-100">
        <img src="../../assets/image_sp/registerHotel.jpg" class="img-fluid" alt="">
        <div class="gallery-links d-flex align-items-center justify-content-center">
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h4>Hà Nội Legend Hotel</h4>
            <p>Bạch Đằng - Hà Nội</p>
            <h3>200.000 VND</h3>
        </div>
        <div class="col-6 d-flex justify-content-center align-items-center">
            <button class="btn btn-success btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModalToggle">Đặt
                phòng</button>
        </div>
    </div>
</div>



