<div>
    <div class="gallery-item h-100">
        <img src="../../assets/image_sp/registerHotel.jpg" class="img-fluid" alt="">
        <div class="gallery-links d-flex align-items-center justify-content-center">
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h4>Hà Nội Legend Hotel</h4>
            <p>Bạch Đằng - Hà Nội</p>
            <h3>200.000 VND</h3>
        </div>
        <div class="col-6 d-flex justify-content-center align-items-center">
            <button class="btn btn-success btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModalToggle">Đặt
                phòng</button>
        </div>
    </div>
</div>


<div class="modal fade  modal-xl" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
    tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalToggleLabel" style="color: black;">Tên khách sạn</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row g-3">

                    <div class="col-4">
                        <label for="inputDate" class="col-sm-12 color_black">Nhận phòng</label>
                        <div class="col-sm-10">
                            <input type="date" class="form-control">
                        </div>
                    </div>

                    <div class="col-4">
                        <label for="inputDate" class="col-sm-12 color_black">Trả phòng</label>
                        <div class="col-sm-10">
                            <input type="date" class="form-control">
                        </div>
                    </div>

                    <div class="col-4">
                        <label for="inputText" class="col-sm-12 color_black">Loại phòng</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" readonly>
                        </div>
                    </div>

                    <div class="col-6">
                        <label for="inputText" class="col-sm-12 color_black">Họ và tên</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control">
                        </div>
                    </div>

                    <div class="col-6">
                        <label for="inputText" class="col-sm-12 color_black">Số điện thoại</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-6">
                        <label for="inputText" class="col-sm-12 color_black">Email</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-3 d-flex justify-content-evenly align-items-center fs-5" style="color: black;">
                        <p><strong>Giờ nhận phòng:</strong></p>
                        <p><strong>14:00</strong></p>
                    </div>
                    <div class="col-3 d-flex justify-content-evenly align-items-center fs-5" style="color: black;">
                       <strong><p>Giờ trả phòng:</p></strong>
                       <strong><p>12:00</p></strong> 
                    </div>
                    <div class="col-12 d-flex justify-content-evenly">
                       <h4 style="color: black;">Tên phòng (số đêm) </h4> 
                       <h3>200.000 VND</h3>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" style="background-color: black; color: white;" data-bs-dismiss="modal">Đặt
                    phòng</button>
            </div>
        </div>
    </div>
</div>